html,body {
    height: 100%;
}
body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}
p {
    margin: 0;
    padding: 0;
}
#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 30mm;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    /* font-size: 150px; */
}
#time {
    letter-spacing: 0.05em;
    font-size: 100px;
    padding: 5px 0;
}
#date {
    letter-spacing: 0.1em;
    font-size: 30px;
}
#signature {
    letter-spacing: 0.1em;
    font-size: 12px;
    padding: 20px 0 0;
}

.cal-box {
    height: 70mm;
    width: 100mm;
    position: absolute;
    top: 100mm;
    right: 50;
    border: 2px solid;
    border-radius: 2%;
    color: #daf6ff;
    background: transparent;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

#coords {
    height: 20mm;
    width: 122mm;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    font-size: 25pt;
}

.temp-city {
    font-family: 'Share Tech Mono', monospace;
    border-left: 1px solid #daf6ff;
    border-bottom: 1px solid #daf6ff;
    position: relative;
    left: 333mm;
    bottom: 22mm;
    height: 40mm;
    width: 48mm;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

#temp {
    width: 20mm;
    position: relative;
    top: 9mm;
    left: 26mm;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    font-size: 32pt;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

#city {
    width: 50mm;
    position: relative;
    top: 8mm;
    left: 32mm;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    font-size: 20pt;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);

}
